<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WuYeUser.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
				<key>dateExpires</key>
				<string>2018/8/9</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5EA9FD10DB9C7B24F981A63760513E3191F04847</string>
						<key>dateExpires</key>
						<string>2018/8/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3D5HUAVU4R</string>
						<key>name</key>
						<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3D5HUAVU4R.com.remotevillage.wuye.WuYeUser</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3D5HUAVU4R</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>WuYeUser.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9ddf851b-0980-4cf1-8ff8-9b13c118db04</string>
				<key>name</key>
				<string>beta_wuye_user</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3D5HUAVU4R</string>
				<key>name</key>
				<string>ChengDu ShiWaiXiangCun Information Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
